@mixin mobile {
  @media screen and (max-width: 390px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px 60px;
    gap: 15px;
    border-radius: 5px;

    .logo {
      color: #474a56;
      font-weight: bold;
      font-size: 20px;
    }

    .title {
      color: #474a56;
      font-size: 15px;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;

      input {
        width: 270px;
        padding: 10px;
        border-radius: 2px;
        border: none;
        border-bottom: #a7bcff solid 1px;

        &::placeholder {
          color: #8f939c;
        }
      }

      button {
        background-color: #3a456a;
        border: none;
        color: white;
        padding: 10px;
        font-weight: bold;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          width: 40px;
          object-fit: contain;
        }
        span {
          color: #3a456a;
          font-size: 14px;
          width: 235px;
          border: 1px solid #8d9ed8;
          overflow-wrap: break-word;
          padding: 2px;
        }
      }

      span {
        color: tomato;
        font-size: 14px;
        text-align: center;
      }
    }
    p {
      color: #3a456a;
      font-size: 13px;
    }
  }
}

// Home page CSS
.home {
  display: flex;
  background-color: #a7bcff;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    border: #eceef3 solid 1px;
    width: 70%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;

    @include mobile() {
      width: 98%;
      height: 100%;
    }
    .sidebar {
      flex: 1;
      background-color: #4f619d;

      @include mobile() {
        display: none;
      }

      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        height: 50px;
        background-color: #52608e;
        color: white;

        .logo {
          font-weight: bold;

          @include mobile() {
            display: none;
          }
        }
        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 32px;
            width: 32;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            background-color: #3a456a;
            color: white;
            border: none;
            height: 35px;
            cursor: pointer;
            border-radius: 5px;
          }
        }
      }

      .search {
        .searchForm {
          input {
            width: 99%;
            border: none;
            padding: 10px;
            outline: none;
          }
        }
      }
      .userChat {
        display: flex;
        align-items: center;
        gap: 8px;
        border-bottom: #8f9abc solid 1px;
        height: 50px;
        color: white;
        cursor: pointer;
        padding: 5px 10px;
        overflow: scroll;

        &:hover {
          background-color: #333c5e;
        }
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
        .userChatInfo {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          span {
            font-weight: 600;
            font-size: 16px;
          }

          p {
            font-size: 14px;
            margin: 0px;
          }
        }
      }
    }
    .chat {
      flex: 2;
      background-color: white;

      @include mobile() {
        flex: 3;
      }

      .chatInfo {
        height: 50px;
        display: flex;
        background-color: #5c6eaa;
        width: 100%;
        align-items: center;
        padding: 0px 20px;
        justify-content: space-between;

        span {
          color: white;
          font-weight: bold;
        }
        .otherFeaters {
          display: flex;
          padding: 0px 25px;
          gap: 10px;
          img {
            height: 20px;
            padding: 10px;
            width: 20px;
            border-radius: 50%;
            object-fit: cover;
            -webkit-filter: invert(1);
            filter: invert(1);

            &:hover {
              background-color: #7689b8;
              -webkit-filter: invert(1);
              filter: invert(0);
              cursor: pointer;
            }
          }
        }
      }
      .messages {
        background-color: #ddddf7;
        padding: 10px;
        height: calc(100% - 130px);
        overflow: scroll;

        .message {
          display: flex;
          margin-bottom: 15px;
          gap: 10px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
            }

            span {
              color: gray;
              font-size: 14px;
            }
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
              background-color: white;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }
            img {
              max-width: 70%;
              object-fit: cover;
            }
          }
          &.owner {
            flex-direction: row-reverse;
            .messageContent {
              align-items: flex-end;
              p {
                background-color: #8da4f1;
                color: white;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .inputContainer {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;

        input {
          width: 100%;
          padding: 10px;
          border: none;
          outline: none;
          color: #3a456a;
          font-size: 18px;

          &::placeholder {
            color: lightgrey;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 22px;
            object-fit: cover;
            cursor: pointer;
            height: 22px;
          }
          button {
            background-color: #607bd4;
            padding: 10px 15px;
            border: none;
            color: white;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.loader{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  display: flex;
}