.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

  .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px 60px;
    gap: 15px;
    border-radius: 5px;

    .logo {
      color: #474a56;
      font-weight: bold;
      font-size: 20px;
    }

    .title {
      color: #474a56;
      font-size: 15px;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;

      input {
        width: 270px;
        padding: 10px;
        border-radius: 2px;
        border: none;
        border-bottom: #a7bcff solid 1px;

        &::placeholder {
          color: #8f939c;
        }
      }

      button {
        background-color: #3a456a;
        border: none;
        color: white;
        padding: 10px;
        font-weight: bold;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          width: 40px;
          object-fit: contain;
        }
        span {
          color: #3a456a;
          font-size: 14px;
        }
      }
    }
    p {
      color: #3a456a;
      font-size: 13px;
    }
  }
}

// Home page CSS
.home {
  display: flex;
  background-color: #a7bcff;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    border: #eceef3 solid 1px;
    width: 70%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    .sidebar {
      flex: 1;
      background-color: #6373a7;

      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        height: 50px;
        background-color: #52608e;
        color: white;

        .logo {
          font-weight: bold;
        }
        .user {
          display: flex;
          align-items: center;
          gap: 15px;

          img {
            height: 30px;
            object-fit: cover;
          }

          button {
            background-color: #3a456a;
            color: white;
            border: none;
            height: 35px;
            cursor: pointer;
            border-radius: 5px;
          }
        }
      }

      .search {
        .searchForm {
          input {
            width: 99%;
            border: none;
            padding: 10px;
            outline: none;
          }
        }
      }
      .userChat {
        display: flex;
        align-items: center;
        gap: 8px;
        border-bottom: #8f9abc solid 1px;
        height: 50px;
        color: white;
        cursor: pointer;
        padding: 5px 10px;

        &:hover {
          background-color: #546290;
        }
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
        .userChatInfo {
          span {
            font-weight: 500;
            font-size: 16px;
          }

          p {
            font-size: 14px;
            margin: 0px;
          }
        }
      }
    }
    .chat {
      flex: 2;
      background-color: white;
    }
  }
}
